<mat-card>
  <form (submit)="onAddArticle(articleForm)" #articleForm="ngForm">


<mat-form-field>
    <input type="text" name="title" placeholder="Article Title" matInput ngModel required>
    </mat-form-field>
    <hr>
    <mat-form-field>
    <input type="text" name="shortTitle" placeholder="Short Title" matInput ngModel required>
    </mat-form-field>
    <hr>
    <mat-form-field>
    <textarea rows="6" name="summary" placeholder="Summary" matInput ngModel required
          minlength="50"></textarea>
    </mat-form-field>
    <hr>
    <mat-form-field>
    <input type="text" matInput name="imageCaption" placeholder="Image Caption" ngModel required>
    </mat-form-field>
    <hr>
    <mat-form-field>
    <input type="text" matInput name="imageTitle" placeholder="Image Title" ngModel required>
    </mat-form-field>
    <hr>
    <mat-form-field>
    <input type="text" matInput name="altText" placeholder="Alternate Text" ngModel>
    </mat-form-field>
    <button
       mat-raised-button
       color="accent"
       type="submit">Save Article</button>

  </form>
</mat-card>


<p>{{ newArticle }}</p>
